{% extends 'header.html' %}
{% block main %}

<div class="card shadow mt-5">
    <div class="card-body">
        <h4 class="p-2" style="border-bottom: 3px solid green;">Already Registered</h4>
        <div class="container-fluid mt-3">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Tracking Code : </label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchdata"
                                       placeholder="Search by Tracking Code ...">
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search" style="height: 25px"></i></button> </span>
                            </div>
                        </div>
                    </div>
                </div>
                    </form>

                    {% if indlist %}
            <form method = "post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">

                         <input type="hidden" class="form-control" name="indID" value="{{indlist.id}}">

                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="FirstName" value="{{indlist.FirstName}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="LastName" value="{{indlist.LastName}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Gender :</label>
                            <input type="text" name="Gender" value="{{indlist.Gender}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Date of Birth</label>
                            <input type="text" name="DOB" value="{{indlist.DOB}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Contact No.</label>
                            <input type="text" name="Contact" value="{{indlist.Contact}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" name="Address" value="{{indlist.Address}}" class="form-control" readonly>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Vaccine Used</label>
                            <select class="form-control" name="vaccines">
                                {% for i in vaccine %}
                                <option value="{{i.id}}">{{i.Name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Vaccination Type</label>
                            <select class="form-control" name="VaccinationType">
                                <option value="2nd Dose">2nd Dose</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Vaccinated By </label>
                            <input type="text" name="VaccinatedBy" placeholder="Vaccinated By"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Remark </label>
                            <textarea name="Remark" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="Status">
                                <option value="Fully Vaccinated">Fully Vaccinated</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Vaccination Location</label>
                            <select class="form-control" name="vaccinelocations">
                                <option value="">Select Vaccination Location</option>
                                {% for i in vlocation %}
                                <option value="{{i.id}}">{{i.Location}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% if error ==  "no" %}
<script>
    alert('Vaccination record successfully saved.');

</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');


</script>
{% endif %}

{% endblock %}