{% extends 'header.html' %}
{% block main %}
{% load static %}

<div class="card shadow mt-3">
    <div class="card-body">
        <h4 class="p-2" style="border-bottom: 2px solid green;">Update Vaccine List</h4>
        <div class="container-fluid mt-3">
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}

                    <label>Name</label>
                    <input type="text" name="Name" value="{{vlist.Name}}" class="form-control">
                    <br>
                    <label>Status</label>
                    <Select name="Status" class="form-control form-control-sm" required>
                        <option value="{{vlist.Status}}">{{vlist.Status}}</option>
                        <option value="Active">Active</option>
                        <option value="InActive">InActive</option>
                    </Select>
                    <br>
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>


{% if error ==  "no" %}
<script>
    alert('Vaccine has been Updated');
    window.location=('{% url 'vaccine' %}');

</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');

</script>
{% endif %}

{% endblock %}
