{% extends 'userHeader.html' %}
{% block main %}

<script>
    function checkpassword(){
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
    alert('New Password and Confirm Password field does not Match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>

{% if error == "no" %}
<script>
    alert('Password updated successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong , try again later');
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Your current password is wrong');
</script>
{% endif %}


<div class="card shadow mt-3">
    <div class="card-body">
        <h5 style="border-bottom: 2px solid green">Change Password</h5>
        <div class="container-fluid mt-3">
            <div class="form-group">
                <form method="post" name="changepassword" onsubmit="return checkpassword()">
                    {% csrf_token %}
                    <label>Current Password</label>
                   <input type="password" name="oldpassword" class="form-control" placeholder="Current password">

                    <label>New Password</label>
                    <input type="password" name="newpassword" class="form-control" placeholder="New password">

                    <label>Confirm Password</label>
                    <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm password">
                    <br>
                    <input type="submit" value="Change Password" class="btn btn-primary float-right">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}