{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <img src="{% static 'images/login.jpg' %}" alt="">
            <div class="text">
                <span class="text-1">Vaccinate your Family <br> Protect your Community</span>
                <span class="text-2">Boots your Power</span>
            </div>
        </div>
    </div>

    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Staff Login</div>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="email" name="EmailId" placeholder="Enter Email Id" required>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" name="pwd" placeholder="Enter Password" required>
                        </div>
                        <div class="button input-box">
                            <input type="submit" value="Submit">
                        </div>

                        <div class="text sign-up-text"><a href="{% url 'index' %}">Back Home</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Logged In Successfully');
    window.location=('{% url 'sdashboard' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Invalid Credentials, Please try again');
</script>
{% endif %}

</body>
</html>
