{% extends 'userHeader.html' %}
{% block main %}


<div class="card shadow mt-5">
    <div class="card-body">
        <h4 class="p-2" style="border-bottom: 5px solid green;">List of Individual</h4>
        <div class="container-fluid mt-3">
            <table id="example" class="table table-striped table-bordered">
                <colgroup>
					<col width="5%">
					<col width="35%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
				</colgroup>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                 {% for i in indlist %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.FirstName}} {{i.LastName}}</td>
                    <td>{{i.Gender}}</td>
                    <td>{{i.Contact}}</td>

                    {% if i.Status == "Partially Vaccinated" %}
                    <td><span class="badge badge-warning rounded-pill">Partially Vaccinated</span></td>
                    {% else %}
                    <td><span class="badge badge-success rounded-pill">Fully Vaccinated</span></td>
                    {% endif %}
                    <td align="center">
                        <button type="button" class="btn btn-flat btn-default btn-sm dropdown-toggle dropdown-icon"
                                data-toggle="dropdown">
                            Action
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item edit_data" href="{% url 'staffviewIndividualDtls' i.id %}"
                               data-id="#"><span class="fa fa-eye text-warning"></span> View</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item delete_data" href="{% url 'deletestaffIndividual' i.id %}"
                               onclick="return confirm('Are you sure to delete ?')"><span class="fa fa-trash text-danger"></span>
                                Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
