{% extends 'userHeader.html' %}
{% block main %}


<div class="card shadow mt-5">
    <div class="card-body">
        <a href="{% url 'staffalreadyReg_Vaccine' %}" class="btn btn-warning btn-sm float-right"> Already Registered</a>
        <a href="{% url 'staffnew_Vaccine' %}" class="btn btn-warning btn-sm float-right"><i class="fa fa-plus"></i>
            Create New</a>
        <h4 class="p-2" style="border-bottom: 5px solid green;">Vaccination History</h4>
        <div class="container-fluid mt-3">
            <table id="example" class="table table-striped table-bordered">
                <colgroup>
					<col width="5%">
					<col width="20%">
					<col width="35%">
					<col width="20%">
					<col width="20%">
				</colgroup>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date Created</th>
                    <th>Individual</th>
                    <th>Vaccination Info</th>
                    <th>Encoder</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                 {% for i in vachistory %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.CreationDate}}</td>
                    <td>code: {{i.individuals.TrackingCode}} <br>
                        name: {{i.individuals.FirstName}} {{i.individuals.LastName}} </td>

                    <td>vaccine: {{i.vaccines.Name}} <br>
                        type: {{i.VaccinationType}}</td>
                    <td>{{i.members.user.username}}</td>
                    <td align="center">
                        <button type="button" class="btn btn-flat btn-default btn-sm dropdown-toggle dropdown-icon"
                                data-toggle="dropdown">
                            Action
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item edit_data" href="{% url 'staffviewHistory' i.id %}"
                               data-id="#"><span class="fa fa-eye text-warning"></span> View</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item delete_data" href="javascript:void(0)"
                               data-id="#"><span class="fa fa-trash text-danger"></span>
                                Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
