{% extends 'header.html' %}
{% block main %}


<div class="card shadow mt-5">
    <div class="card-body">
        <a href="#" class="btn btn-warning btn-sm float-right"
           data-target="#addpro" data-toggle="modal"><i class="fa fa-plus"></i>
            Create New</a>
        <h4 class="p-2" style="border-bottom: 5px solid green;">List of Vaccination Area/Location</h4>
        <div class="container-fluid mt-3">
            <table id="example" class="table table-striped table-bordered">
                <colgroup>
					<col width="5%">
					<col width="35%">
					<col width="15%">
					<col width="20%">
					<col width="20%">
				</colgroup>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Vaccination Location</th>
                    <th>Status</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in vlocation %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.Location}}</td>
                    <td>{{i.Status}}</td>
                    <td>{{i.CreationDate}}</td>
                    <td align="center">
                        <button type="button" class="btn btn-flat btn-default btn-sm dropdown-toggle dropdown-icon"
                                data-toggle="dropdown">
                            Action
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item edit_data" href="{% url 'editVaccineArea' i.id %}"
                               data-id="#"><span class="fa fa-edit text-primary"></span> Edit</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item delete_data" href="{% url 'deleteVaccineArea' i.id %}" onclick="return confirm('Are you sure to delete ?')">
                                <span class="fa fa-trash text-danger"></span> Delete</a>
                        </div>
                    </td>
                </tr>
                 {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="addpro">
    <div class="modal-dialog">
        <form class="modal-content" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <h5><i class="fa fa-plus"></i> Add New Vaccination Area</h5>
            </div>

            <div class="modal-body">
                <div class="form-group form-row">
                    <label class="col-sm-4">Location</label>
                    <div class="col-sm-8">
                        <input type="text" name="Location" placeholder="Vaccination Location"
                               class="form-control form-control-sm" required>
                    </div>
                </div>

                <div class="form-group form-row">
                    <label class="col-sm-4">Status</label>
                    <div class="col-sm-8">
                        <Select name="Status" class="form-control form-control-sm" required>
                            <option value="Active">Active</option>
                            <option value="InActive">InActive</option>
                        </Select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input type="submit" value="Submit" class="btn btn-primary btn-sm">
            </div>
        </form>
    </div>
</div>

{% if error ==  "no" %}
<script>
    alert('New Vaccination Location Successfully Save');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');
</script>
{% endif %}

{% endblock %}
