{% extends 'header.html' %}
{% block main %}


<div class="card shadow mt-5">
    <div class="card-body">
        <div id="exampl">
        <h4 class="p-2" style="border-bottom: 3px solid green;">Vaccination History Record Details</h4>

            <table border="1" class="table table-striped table-bordered first mt-5">

                <tr>
                    <th>Tracking Code</th>
                    <td>{{vhistory.individuals.TrackingCode}}</td>

                    <th>Vaccination Type</th>
                    <td>{{vhistory.VaccinationType}}</td>
                </tr>

                <tr>
                    <th>Individual Name</th>
                    <td>{{vhistory.individuals.FirstName}} {{vhistory.individuals.LastName}}</td>

                    <th>Vaccine Used</th>
                    <td>{{vhistory.vaccines.Name}}</td>
                </tr>

                <tr>
                    <th>Gender</th>
                    <td>{{vhistory.individuals.Gender}}</td>

                    <th>Vaccinated By</th>
                    <td>{{vhistory.VaccinatedBy}}</td>
                </tr>

                <tr>
                    <th>Date of Birth</th>
                    <td>{{vhistory.individuals.DOB}}</td>

                    <th>Vaccinated At</th>
                    <td>{{vhistory.vaccinelocations.Location}}</td>
                </tr>

                <tr>
                    <th>Contact </th>
                    <td>{{vhistory.individuals.Contact}}</td>

                    <th>Remark</th>
                    <td>{{vhistory.Remark}}</td>
                </tr>

                <tr>
                    <th>Address </th>
                    <td>{{vhistory.individuals.Address}}</td>

                    <th>Encoded By</th>
                    <td>{{vhistory.members.user.username}}</td>
                </tr>
                </table>
            </div>
            <center><p><i class="fa fa-print fa-2x" style="cursor: pointer;" OnClick="CallPrint(this.value)"></i></p></center>

</div>
</div>

<script>
function CallPrint(strid) {
var prtContent = document.getElementById("exampl");
var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
WinPrint.document.write(prtContent.innerHTML);
WinPrint.document.close();
WinPrint.focus();
WinPrint.print();
WinPrint.close();
}

</script>
{% endblock %}
